.activities-media-img {
  width: 15%;
}

.activities-media-img>img {
  width: inherit;
}

.activities-media-img-small {
  max-width: 15px;
  max-height: 15px;
  height: auto;
  width: auto;
  display: block;
  margin-right: 5px;
}

.activities-media-img-small img {
  width: 100%;
}

@media(max-width: 959px) {
  .activities-media-img-small,
  .activities-media-img {
    width: 10%;
    max-width: 50px;
    margin-right: 50px;
    height: unset;
  }

  .activities-media-img>img  {
    max-width: 50px;
  }
}
