.intro-img {
  width: 100%;
}

@media(min-width:1310px) {
  .intro-container {
    height: 100vh;
  }
}

.intro-content {
  padding-top: 50px;
}

.intro-content h1 {
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 50px;
}

.intro-content p {
  font-size: 1.4em;
  /*color: rgba(255,255,255,.7);*/
  color: white;
}

.img-panel {
  float: left;
  position: relative;

  height: 300px;
}

.intro-img-container {
  width: 542px;
}

.intro-img-container img {
  position: relative;
  max-width: 542px;
  max-height: 70vh;
  width: auto;
  height: auto;
}


@media(max-width: 1200px) {
  .intro-content h1 {
    font-size: x-large;
    line-height: unset;
  }

  .intro-content p {
    font-size: 1em;
  }

  .intro-img-container img {
    width: 100%;
    position: relative;
  }

  .intro-img-container {
    width: unset;
  }
}
