.sidebar-container>div {
  height: 100%;
}

#sidebar-toggle {
  padding: 0;
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  margin-bottom: 50px;
}

#sidebar-toggle>img {
  width: 30px;
  cursor: pointer;
}

.sidebar {
  border-right: 1px solid rgba(255,255,255,.2);
  height: 100vh;
  text-align: left;
  position: fixed;
}

.sidebar * {
  display: block;
}

.sidebar>div {
  padding-left: 0px;
  text-align: center;
}

.sidebar-link {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
  width: min-content;
  cursor: pointer;
  margin-right: 10px;
}

.sidebar-collapse {
  display: inline-block;
}

@media(max-width: 959px) {
  .sidebar {
    border-right: none;
    height: unset;
    text-align: center;
    position: unset;
  }

  .sidebar-menu,
  .sidebar-link {
    display: block;
  }

  .sidebar-link {
    font-size: 1.1em;
    width: 100%;
    margin-right: 0px;
  }

  #sidebar-toggle  {
    width: 100px;
    margin-bottom: 100px;
  }

  #sidebar-toggle>img {
    width: 100px;
  }
}
