{% load static %}

<div class="intro-container row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 intro-content">
    <div class="intro-img-container">
      <img class="intro-img" src="http://img.timeinc.net/time/daily/2012/1211/poy_benbernanke.jpg" alt="">
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 intro-content intro-content-text">
    <h1>I’m an experienced Software Developer.</h1>
    <p>I can create a reality from your dream.
        I can build it and elevate it to excellence.
        I have a total of 5 years of programming experience and a handful of projecs to support my claim.
        </p>
  </div>
</div>
