{% load static %}

<div class="intro-container row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 intro-content text-centered">
    <div class="intro-img-container">
      <img class="intro-img" src="{% static 'public/img/me.jpg' %}" alt="">
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 intro-content intro-content-text">
    <h1>Striving for excellence!</h1>
    <p>
      I am an experienced Software Developer.
    </p>
    <p>
      Top of the class graduate of ELSYS(the best Bulgarian professional IT high school) with a profile in Systems Programming.
    </p>
    <p>
      Defended a thesis with excellence.
    </p>
    <p>
      Laureate of the Bulgarian National Olympiad of Information Technology.
    </p>
    <p>
      Co-creator, organizer and host  of the first Bulgarian high school hackathon HackTUES.
    </p>
    <p>
      On the road to the UK.
    </p>
  </div>
</div>
