{% load static %}

<div class="row">
  <ul class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="row">
          {% for project in projects.left %}
          <div class="project-container col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <li class="project-project">
              {% include 'partials/project.html' with project=project %}
            </li>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="row">
          {% for project in projects.right %}
          <div class="project-container col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <li class="project-project">
              {% include 'partials/project.html' with project=project %}
            </li>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </ul>
</div>
