<div class="project-card card bg-dark text-white">
  {% if project.background_image %}
    <img class="project-card-img project-card-visible-background card-img" src="{{project.background_image}}" alt="">
  {% endif %}
  <img class="project-card-img card-img" src="{{project.media_url}}" alt="Card image">
  <div class="project-card-img-overlay overlay-invisible card-img-overlay">
    {% if project.title_dark %}
      <h5 class="card-title card-title-dark">{{project.title}}</h5>
    {% else %}
      <h5 class="card-title">{{project.title}}</h5>
    {% endif %}

    {% if project.description_type == 'text' %}
      <p class="card-text">{{project.description}}</p>
    {% else %}
      <div>{{project.description | safe}}</div>
    {% endif %}
    {% if project.additional_info_type == 'text' %}
      <p class="card-text">{{project.additional_info}}</p>
    {% else %}
      <p>{{project.additional_info | safe}}</p>
    {% endif %}
  </div>
</div>
