{% load static %}

<div class="sidebar">
  <button type="button" id="sidebar-toggle" name="button">
    <img src="{% static "public/icons/menu.png" %}" alt="">
  </button>
  <ul class="sidebar-menu" style="display: none;">
    <li id="sidebar-menu-1" class="sidebar-link" scrollTo="#intro-row" style="display: none;">Intro</li>
    <li id="sidebar-menu-2" class="sidebar-link" scrollTo="#projects-row" style="display: none;">Activities</li>
    <li id="sidebar-menu-3" class="sidebar-link" scrollTo="#hacktues-row" style="display: none;">HackTUES</li>
    <li id="sidebar-menu-4" class="sidebar-link" scrollTo="#more-projects-row" style="display: none;">More Activities</li>
    <li id="sidebar-menu-4" class="sidebar-link" scrollTo="#activities-row" style="display: none;">Papers, Reporsts and Presentations</li>
  </ul>
  <ul class="sidebar-collapse">
    <li for="sidebar-menu-1"> </li>
    <li for="sidebar-menu-2"> </li>
    <li for="sidebar-menu-3"> </li>
    <li for="sidebar-menu-4"> </li>
  </ul>
</div>
