{% load static %}

<div class="sidebar">
  <button type="button" id="sidebar-toggle" name="button">
    <img src="{% static "public/icons/menu.png" %}" alt="">
  </button>
  <ul class="sidebar-menu" style="display: none;">
    <li id="sidebar-menu-1" class="sidebar-link" style="display: none;">ASDSAD 1</li>
    <li id="sidebar-menu-2" class="sidebar-link" style="display: none;">ASDSAD 2</li>
    <li id="sidebar-menu-3" class="sidebar-link" style="display: none;">ASDSAD 3</li>
    <li id="sidebar-menu-4" class="sidebar-link" style="display: none;">ASDSAD 4</li>
  </ul>
  <ul class="sidebar-collapse">
    <li for="sidebar-menu-1"> C1 </li>
    <li for="sidebar-menu-2"> C2 </li>
    <li for="sidebar-menu-3"> C3 </li>
    <li for="sidebar-menu-4"> C4 </li>
  </ul>
</div>
