<!-- 21:9 aspect ratio -->
<!-- 16:9 aspect ratio -->
<!-- 3:3 aspect ratio -->
<!-- 1:1 aspect ratio -->
<div class="row">
  <div class="video-description invisible col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <h3>{{video.title}}</h3>
    <br>
    <div>{{video.description | safe}}</div>
  </div>
  <div class="video invisible col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <div class="embed-responsive embed-responsive-{{ratio}}">
      <iframe class="embed-responsive-item" src="{{video.url}}"></iframe>
    </div>
  </div>
</div>
