backports.weakref==1.0rc1
bleach==1.5.0
bresenham==0.2
certifi==2016.2.28
cycler==0.10.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0.4
django-toolbelt==0.0.1
gunicorn==19.7.1
html5lib==0.9999999
Pillow==5.0.0
protobuf==3.4.0
psycopg2==2.7.4
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
six==1.10.0
static3==0.7.0
Werkzeug==0.12.2
whitenoise==3.3.1
